<div class="container bg-white">
    <div class="box_pro_detail">
        <div class="row">
            <div class="col-8">
                <div class="box-left">
                    <div class="food-name-detail">{{food.name}}</div>
                    <div>{{food.description}}</div>
                </div>
            </div>

            <div class="col-4 box-right">
                <div class="food-img-detail">
                    <div id="wp-slider">
                        <div class="items-slide">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <img src="/upload/{{food.image}}" alt="{{food.name}}">
                                </div>
                                <div class="item">
                                    <img src="/upload/{{food.image}}" alt="{{food.name}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h5 class="food-title">{{food.name}}</h5>
                </div>

                <div>{{food.description}}</div>
                <div><span>{{food.price}}<small>.000đ</small></span></div>
                <div>Tong Tien</div>
                <div>
                    <div class="row">
                        <div class="form-group">
                            <button style=" width: 100%;" class="btn btn-danger btn-lg">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <a href="/"><button style=" width: 100%;" class="btn btn-outline-dark btn-lg">QUAY LẠI THỰC ĐƠN</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>