<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Tên món ăn</th>
            <th scope="col">Giá bán</th>
            <th scope="col">Mô tả</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each food}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td><img src="{{this.image}}" alt="{{this.name}}" style="width: 100px"></td>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.description}}</td>
                <td>
                    <span><a href="/food/{{this._id}}/edit">Sửa</a></span>
                    <span><a href="">Xóa</a></span>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>