{{#order}}
<div class="order-item form-group row">
    <div class="col-9">
        <a href="../staff/orderdetails-confirmed/{{_id}}">
            <div class="row form-group">
                <div class="col-9 create-at">{{dateFormat createdAt format="hh:mm DD/MM/YYYY"}}</div>
                <div class="col-3 status-order">
                    <div class="float-right">
                        <button type="button" class="btn btn-warning btn-sm" disabled>Đang thực hiện...</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div class="customer-box avatar-customer-order">
                        <img src="https://i.pinimg.com/originals/eb/b0/2a/ebb02aedec9bc74f65e38311c7e14d34.png"
                            alt="avatar">
                    </div>
                    <br>
                    <div class="customer-box name-customer">
                        Minh Quân
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-4 offset-2"> Món</div>
                            <div class="col-6">
                                <div class="float-right">Tổng tiền</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 offset-2">{{amount}}</div>
                            <div class="col-6"><span class="float-right">{{totalmoney}}<small>.000đ</small></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3">
        <form action="/staff/complete/{{_id}}" method="post">
            <input type="hidden" name="orderstatus" value="2">
            <button class="btn btn-danger btn-lg form-group" style="width: 100%;" type="submit">HOÀN THÀNH</button>
        </form>
        <a class="btn btn-link" data-id="{{_id}}" data-bs-toggle="modal" data-bs-target="#delete-food-modal" style="width: 100%;">
            <button class="btn btn-outline-dark btn-lg" style="width: 100%;">HỦY ĐƠN</button>
        </a>
    </div>
</div>
{{/order}}


{{!-- Confirm delete course--}}
<div class="modal fade" id="delete-food-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Điền lý do hủy đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea name="reason-cancel" id="reason-cancel" cols="62" rows="10"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-food">Hủy đơn hàng</button>
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-food-form" method="POST">
    <input type="hidden" name="orderstatus" value="3">
    <input type="hidden" name="reason" id="reason">
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var foodId;
        var deleteForm = document.forms['delete-food-form'];
        var btnDeleteFood = document.getElementById('btn-delete-food');
        //var reason = document.getElementById('reason-in-form');

        $('#delete-food-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            foodId = button.data('id');
        });

        btnDeleteFood.onclick = function () {
            var message = $('textarea#reason-cancel').val();
            var reason = $('input#reason').val(message);
            deleteForm.action = '/staff/cancel/' + foodId + '?_method=DELETE';
            deleteForm.submit();
        }
    })
</script>