{{#order}}
<div class="order-item form-group row">
    <a href="../staff/orderdetails-accomplished/{{_id}}">
        <div class="row form-group">
            <div class="col-10 create-at">{{dateFormat createdAt format="mm:hh DD/MM/YYYY"}}</div>
            <div class="col-2 status-order">
                <div class="float-right">
                    <button type="button" class="btn btn-success btn-status btn-sm" value="{{orderstatus}}" disabled>Đã hoàn thành</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="customer-box avatar-customer-order">
                    <img src="https://i.pinimg.com/originals/eb/b0/2a/ebb02aedec9bc74f65e38311c7e14d34.png"
                        alt="avatar">
                </div>
                <br>
                <div class="customer-box name-customer">
                    Minh Quân
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-4 offset-2"> Món</div>
                        <div class="col-6">
                            <div class="float-right">Tổng tiền</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 offset-2">{{amount}}</div>
                        <div class="col-6"><span class="float-right">{{totalmoney}}<small>.000đ</small></span></div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
{{/order}}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        var btnStatus = document.querySelectorAll('.btn-status')
        btnStatus.forEach((btn)=>{
            if(btn.value == 3){
                btn.innerText = "";
                btn.innerText = "Đã Hủy";
                btn.classList.remove("btn-success");
                btn.classList.add("btn-danger");
            }        
        })
    })
</script>