<div class="container bg-white box_pro_detail">
    <div class="row">
        <div>
            <a href="/staff/order-accomplished">
                <button class="btn btn-light"><i class="fas fa-undo-alt"></i> QUAY LẠI</button>
            </a>
            <div class="float-right">
                <button type="button" class="btn btn-success btn-status" value="{{order.orderstatus}}" disabled>Đã hoàn thành</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-2">
                <div class="avatar-customer">
                    <center>
                        <img src="https://i.pinimg.com/originals/eb/b0/2a/ebb02aedec9bc74f65e38311c7e14d34.png"
                            alt="avatar">
                    </center>
                </div>
            </div>
            <div class="col-5">
                <div class="row flex-row">
                    <div class="name-customer">
                        <b>Minh Quân</b>
                        <span>
                            <span>
                                <i class="fas fa-money-bill font15 text-danger"></i>
                            </span>
                        </span>
                    </div>
                    <div class="type-customer"><i>Khách hàng vãng lai</i></div>
                    <div class="">
                        <div class="float-left">Địa chỉ giao hàng: 180 Cao lỗ, P4, Q8, TP.HCM</div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div>
                        <div class="float-right">Mã đơn hàng: {{order._id}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="row order-detail">
        <div class="col-7">
            {{>staff/list-food-order}}
            <div class="total-price">
                <b>Tổng tiền món (giá gốc): <span
                        class="float-right">{{order.totalmoney}}<small>.000đ</small></span></b>
            </div>
        </div>
        <div class="col-5 reason-cancel">
            <div id="reason-type">{{order.orderstatus}}</div>
            <div id="reason-cancel">{{ordercancel.reason}}</div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-7">
            <div class="float-left">Thời gian hoàn thành: {{order.updatedAt}}</div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        var btnStatus = document.querySelectorAll('.btn-status')
        btnStatus.forEach((btn)=>{
            if(btn.value == 3){
                btn.innerText = "";
                btn.innerText = "Đã Hủy";
                btn.classList.remove("btn-success");
                btn.classList.add("btn-danger");
            }        
        })

        var type = document.getElementById('reason-type');
        var value = type.innerText;
        if (value == 3){
            type.innerText = "";
            type.innerText = "Lý do hủy: ";
        }else {
            type.innerText = "";
            type.innerHTML = '<center>ĐƠN HÀNG ĐÃ HOÀN THÀNH</center>';
        }
    })
</script>

