<div class="container bg-white box_pro_detail">
    <div class="tks_title">
        <span>CẢM ƠN! </span>BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG
    </div>
    <br>
    <div class="row">
        <div class="tks_info col-10 offset-1">
            <div class="row no-gutters align-items-center mt-4 mb-4">
                <div class="col-12 col-lg-4 text-center pr-3">
                    <img src="../../img/order-completion.jpg">
                </div>
                <div class="col-12 col-lg-8">
                    <div class="">
                        <p>Mã đơn hàng của bạn <span>#<strong>{{order._id}}</strong></span></p>
                        <p class="mt-2">
                            Bạn có thể xem chi tiết tại
                            <br><a href="#"><strong><u>lịch sử giao dịch</u></strong></a>
                        </p>
                        <p class="mt-2">Thông tin về đơn hàng sẽ được gửi về địa chỉ email:
                            <strong>{{address.email}}</strong>
                        </p>
                        <p>Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="row">
            <div class="col-2">
                <div class="avatar-customer">
                    <center>
                        <img src="https://i.pinimg.com/originals/eb/b0/2a/ebb02aedec9bc74f65e38311c7e14d34.png"
                            alt="avatar">
                    </center>
                </div>
            </div>
            <div class="col-5">
                <br>
                <div class="name-customer">
                    <b>Minh Quân</b>
                    <span>
                        <span>
                            <i class="fas fa-money-bill font15 text-danger"></i>
                        </span>
                    </span>
                </div>
                <div class="type-customer"><i>Khách hàng vãng lai</i></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row order-detail">
        <div class="col-5 col-lg-5">
            <div class="head_3">Thông tin giao hàng</div>
            <div class="">
                <div class="float-left">Tên người nhận: {{address.fullName}}</div>
            </div>
            <div class="">
                <div class="float-left">Số điện thoại: {{address.phone}}</div>
            </div>
            <div class="">
                <div class="float-left">Địa chỉ giao hàng:
                    {{address.address}},
                    {{address.wards}},
                    {{address.district}},
                    {{address.city}}
                </div>
            </div>
        </div>
        <div class="col-7">
            {{>staff/list-food-order}}
            <div class="total-price">
                <b>Tổng tiền món (giá gốc): <spanclass="float-right">{{order.totalmoney}}<small>.000đ</small></span></b>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-7">
            <div class="float-left">Thời gian đặt đơn: {{order.createdAt}}</div>
        </div>
    </div>
</div>