<script src="../js/cart.js"></script>
{{#each food}}
<div class="col-sm-6 col-lg-4">
    <div class="card">
        <a href="/food/{{this.slug}}">
            <img src="/upload/{{this.image}}" class="card-img-top" alt="{{this.name}}" />
        </a>
        <div class="card-body">
            <a href="/food/{{this.slug}}">
                <h5 class="card-title">{{this.name}}</h5>
            </a>
            <div class="card-price">
                <span>{{this.price}}<small>.000đ</small></span>
            </div>
            <p class="card-text">{{this.description}}</p>
        </div>
        <div class="card-button">
            <a href="/food/{{this.slug}}"><button type="button" class="btn btn-outline-dark">TÙY CHỈNH</button></a>
            <button
                onclick="onClickAdd('{{this._id}}','{{this.name}}','{{this.description}}','{{this.image}}','{{this.price}}')"
                type="button" class="btn btn-danger">ĐẶT HÀNG</button>
        </div>
    </div>
</div>
{{/each}}

<script>
    function onClickAdd(id, name, description, image, price) {

        var ListItemCart = getListItemCart();
        var itemExists = false;

        for (var i = 0; i < ListItemCart.length; i++) {
            var itemCart = ListItemCart[i];
            if (itemCart.id == id) {
                itemCart.amount++;
                itemExists = true;
            }
        }

        if (itemExists == false) {
            var itemCart = createItemCart(id, name, description, image, price, 1);
            ListItemCart.push(itemCart);
        }
        saveListItemCartInLocal(ListItemCart);

        addAmountInnerID('cart-text');
    }

</script>