{{#each food}}
<div class="col-sm-6 col-lg-4">
    <div class="card">
        <a href="/food/{{this.slug}}">
            <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}" />
        </a>
        <div class="card-body">
            <a href="/food/{{this.slug}}">
                <h5 class="card-title">{{this.name}}</h5>
            </a>
            <p class="card-text">{{this.description}}</p>
        </div>
        <div class="card-button">
            <a href="/food/{{this.slug}}"><button type="button" class="btn btn-outline-dark">TÙY
                    CHỈNH</button></a>
            <button type="button" class="btn btn-danger">ĐẶT HÀNG</button>
        </div>
    </div>
</div>
{{/each}}