<div class="container">
    <h1>CẬP NHẬT QUẢNG CÁO</h1>
    <form class="mt-4" method="POST" action="/admin/adv/{{adv._id}}?_method=PUT">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <center><img style="width:100%" src="{{adv.image}}" alt="{{adv.alt}}"></center>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh: </label>
            <input type="text" class="form-control" value="{{adv.image}}" id="image" name="image" />
        </div>
        <div class="form-group">
            <label for="price">Alt: </label>
            <input type="text" class="form-control" value="{{adv.alt}}" id="alt" name="alt" />
        </div>

        <button type="submit" class="btn btn-primary">Sửa</button>
    </form>
</div>